

  {% extends "base.html"  %}
  {% block content %}


  <title>{% block title %}Send Sms{% endblock %}</title>

  <div class="container bg-gradient-dark">

  <div class="sms_content">
      <h3>Balance = ₦{{ sms_balance }}</h3>
      <p>Approximately {{ (sms_balance/3) | round |int }} units of sms left </p>
      </div>


    <hr>
    <div class="row align-items-stretch no-gutters contact-wrap ">
      <div class="col-md-8">
        <div class="form h-100">
         

          <ul>
            <h3 style="margin: 10px;">Select Recipients:</h3>
            <ul>
            <li>First select the group of Members you would like to send message to</li>
            <li>Click The Generate Button to Render Numbers According To your Filtered Preference</li>
            <li>you will be directed to a page with the genrated numbers according to the selected group </li>

          <li>Type in your message (not more than 160 characters)</li>
            <li>Press send and your message will be sent to the selected numbers </li>
            </ul>

            <form class="form" action="{{url_for('sms_index')}}" method="POST">
              <div class="col-md-12 form-group mb-3">
                <label class="col-form-label">Group Select</label>
                <select class="custom-select"  name = "select"  aria-label="Select FIlter">

                  {% for item in group_list %}
                  <option>{{ item }}</option>
                      {% endfor %}
                </select>
              </div>

              <div class="col-md-12 form-group mb-3">
                <input class="btn btn-primary profile-button" type="submit" value="Generate numbers">
              </form>
              </div>
              </div>
              </div>
              <button id="report_btn" style="font: inherit;
              border: 1px solid #3e00a1;
              color: #3e00a1;
              background: white;
              border-radius: 3px;
              cursor: pointer;
              button:hover"><i class="fa fa-bar-chart" aria-hidden="true"></i> Generate Report</button>
               <button id="hide_btn" style="
               display: none;
               font: inherit;
               border: 1px solid #3e00a1;
               color: #3e00a1;
               background: white;
               border-radius: 3px;
               cursor: pointer;
               button:hover"><i class="fa fa-bar-chart " aria-hidden="true"></i> Hide Reports</button>
             
              
             
             
             
              <div class="report_table" style="display: none;">
                <h1 class="float-right">Deliver Reports</h1>
              <div class="table-responsive mt-4 card-body report bg-gradient-light">

               
             
              
              
              
              
              </div>
              <p>Sms Functionality Powered by <span><a href="http://nigeriabulksms.com/">Nigerian Bulk Sms Services</a></span> </p>
            </div>
          </div>
     


           
            <script type="text/javascript">
              $('#event_table').DataTable({
              });
            $(document).ready(function () {
            
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 1500);
            
            });

            const report_btn = document.getElementById('report_btn')
            const hide_btn = document.getElementById('hide_btn')

            report_btn.addEventListener('click',(e)=> {
              document.querySelector('.report_table').style.display = 'block'
              hide_btn.style.display = 'block'
              report_btn.style.display = 'none'
            })

            hide_btn.addEventListener('click',(e)=> {
              document.querySelector('.report_table').style.display = 'none'
              hide_btn.style.display = 'none'
              report_btn.style.display = 'block'
            })

            </script>
             

               
              
              
              
              
           






          

 

{% endblock %}
  <!-- </body>
</html> -->
